@import './global';

footer {
  padding: 70px;
  text-align: center;
  a {
    display: inline-block;
    font-size: 14px;
    color: $color--white-10;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}