@import './global';

.movie-list {
  margin-top: 30px;
  padding: 70px;
  background-color: $color--area;
  border-radius: 4px;
  text-align: center;
  &.no-result {
    padding: 70px 0;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .message {
    color: $color--primary;
    font-size: 20px;
    text-align: center;
  }
}  